<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Tela de Login Animado</title>
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form action="">
            <div class="user-box">
                <input type="text" name="" id="" required>
                <label for="">Usuário</label>
            </div>
            <div class="user-box">
                <input type="password" name="" id="" required>
                <label for="">Senha</label>
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                ENTRAR
            </a>
        </form>
    </div>
</body>
</html>